<!DOCTYPE html>
<html>
<head>
    <title>Add user</title>
</head>
<body>
    <form action="https://localhost:9010/users/add" method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <br>
        <input type="text" placeholder="email" name="email">
        <br>
        <br>
        <input type="password" placeholder="password" name="password">
        <br>
        <br>
        <textarea name="address" placeholder="address"></textarea>
        <br>
        <br>
        <input type="file" name="pic" accept="image/*">
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>
    <h3>Edit User</h3>
     <form action="https://localhost:9010/users/edit/4" method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <br>
        <input type="text" placeholder="email" name="email">
        <br>
        <br>
        <input type="password" placeholder="password" name="password">
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>
</body>
</html>