<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h3>Add Product</h3>
    <form action="https://localhost:2002/products/add" method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <br>
        <input type="text" placeholder="price" name="price">
        <br>
        <br>
        <input type="text" placeholder="available pcs" name="amountAvailable">
        <br>
        <br>
        <textarea name="description" placeholder="description"></textarea>
        <br>
        <br>
        <input type="text" placeholder="SellerID" name="sellerId">
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>

    <h3>Edit product</h3>
        <form action="https://localhost:9010/products/edit/1" method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <br>
        <input type="text" placeholder="price" name="price">
        <br>
        <br>
        <input type="text" placeholder="available pcs" name="amountAvailable">
        <br>
        <br>
        <textarea name="description" placeholder="description"></textarea>
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>
</body>
</html>