<!DOCTYPE html>
<html>
<head>
    <title>Add user</title>
</head>
<body>
    <form action="https://localhost:9010/categories/add" method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>

    <br>
    <br>
     <form action="https://localhost:9010/categories/addsub" method="post">
        <input type="text" placeholder="name" name="name">
        <br>
        <br>
        <input type="text" placeholder="id" name="id">
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>
</body>
</html>